.swiper {
  margin-top: -90px;
  border-left: 1px solid rgb(255, 255, 255, 0.5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
}
.swipContainer {
  margin-top: 0px;
}
