.card1 {
  width: 188px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 8px 8px 0px 8px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
}
.stars {
  display: flex;
  gap: 10px;
  img {
    width: 20px;
    height: 20px;
  }
}

.list {
  display: flex;
}
.BookImg {
  width: 100%;
}
.flexText {
  display: flex;
  justify-content: space-between;
}
.flexContainer {
  display: flex;
  flex-direction: column;
}
.textContainer {
}
.rates {
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 0.1px;

  padding: 16px 0px 22px 0px;

  color: #a7a7a7;
}
.image {
  height: 242px;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    max-height: 242px;
    object-fit: contain;
  }
}
.listItem .image {
  max-height: 170px;
}
.orderedBtn {
  height: 40px;
  width: 166px;
  justify-self: center;

  border-radius: 20px;
  background: #ffffff;
  /* grey / black 20 */

  border: 1px solid #bfc4c9;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 16px;
  cursor: pointer;
  color: #363636;
  &:hover {
    box-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
  }
  &:active {
    box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
  }
}
.bookName {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  flex: 1;
}
.author {
  // padding: 8px 0px 28px 0px;
  letter-spacing: 0.1px;
  color: #727272;
}
.book {
  display: grid;
  gap: 20px;
  background: #ffffff;

  /* плашка */

  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
}

/* Card item */
.book.card {
  width: 190px;
  padding: 8px 8px 0px 8px;
  height: 470px;
}
.card .info {
  display: grid;
  gap: 20px;
}
.card .info .rating {
  grid-area: 1 / 1 / 2 / 2;
}

/* List item */
.book.listItem {
  grid-template-columns: 120px auto;
  padding: 24px 24px 15px 16px;
}

.listItem .info {
  display: grid;
  gap: 34px;
  align-self: start;
  // padding: 24px 24px 15px 16px;
}
.listItem h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  /* or 145% */

  /* main/dark */

  color: #363636;
}
.card .heading {
  display: flex;
  flex-direction: column;
}
.listItem button {
  justify-self: end;
}
.listItem .BookImg {
  /* padding: 24px 0px 24px 16px; */
  box-sizing: content-box;
}

.listItem .info .heading {
  grid-area: 1 / 1 / 2 / 3;
}

.listItem .info .rating {
  grid-area: 2 / 1 / 3 / 2;
}

.listItem .info .btn {
  grid-area: 2 / 2 / 3 / 3;
}
.listItem .info .engagedBtn {
  grid-area: 2 / 2 / 3 / 3;
}
.listItem .info .orderedBtn {
  grid-area: 2 / 2 / 3 / 3;
}
/* --- */

.rating {
  width: 20px;
  height: 20px;
  gap: 10px;
  display: flex;
}

.btn {
  height: 40px;
  width: 166px;
  justify-self: center;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-radius: 20px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 16px;
  cursor: pointer;
  color: #ffffff;
  &:hover {
    box-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
  }
  &:active {
    box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
  }
}
.engagedBtn {
  height: 40px;
  width: 166px;
  justify-self: center;
  background: #f9f9fa;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 16px;
  border: 1px solid #bfc4c9;

  color: #a7a7a7;
}
.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.1px;
  color: #363636;
  justify-self: center;
}

.card .title {
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  height: 54px;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.noRate {
  line-height: 129%;
  letter-spacing: 0.1px;
  color: #a7a7a7;
}
.listItem .info .rating {
  line-height: 20%;
}
.listItem .author {
  font-size: 16px;
  line-height: 24px;
}
.bookHref {
  width: 100%;
}
@media (max-width: 768px) {
  .listItem h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */

    letter-spacing: 0.1px;

    /* main/dark */

    color: #363636;
  }
}
@media (max-width: 540px) {
  .book.listItem {
    grid-template-columns: 70px auto;
    width: 288px;
  }
  .listItem .image {
    height: 100px;
  }
  .listItem h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    letter-spacing: 0.1px;

    /* main/dark */

    color: #363636;
  }
  .listItem .author {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 8px 0px 0px 0px;
  }
  .listItem button {
    justify-self: start;
    width: 186px;
    margin-bottom: 0px;
  }
  .listItem .rating {
    margin-top: 5px;
    grid-area: 2 / 1 / 3 / 2;
    img {
      width: 13px;
      height: 13px;
    }
  }
  .listItem .noRate {
    grid-area: 2 / 2 / 3 / 2;
    justify-self: start;
  }
  .card .info {
    display: grid;
    gap: 0px;
  }
  .listItem .info {
    display: grid;
    gap: 0px;
    align-self: start;
  }
  .book {
    display: grid;
    gap: 8px;
  }
  .listItem .info button {
    margin-top: 42px;
    margin-left: -22px;
  }
}
@media (max-width: 320px) {
  .book.card {
    width: 288px;
    grid-template-rows: 242px 228px;
    gap: 16px;
    height: 470px;
  }
  .BookImg {
    width: auto;
  }
  .image {
    justify-self: center;
  }
  .card button {
    width: 100%;
  }
}
